/* IMPOSTAZIONI GENERALI */
* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html,
body {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    line-height: 1.5rem;
}

h1 {
    font-size: 2.1rem;
    font-weight: bold;
    line-height: 2.5rem;
    padding-block: 30px 0;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
    padding-block: 10px 0;
}

h3 {
    font-size: 1.5rem;
    padding-block: 8px 0;
}

p {
    padding-block: 5px;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

button {
    background: linear-gradient(to right, #6cc1e2, #392f7a);
    color: white;
    border-style: none;
    padding: 10px 20px;
}

input{
    padding-block: 10px;
}


i {
    color: #e42424;
    padding: 3px;
    font-size: xx-large;
}

a:any-link {
    text-decoration: none;
    color: grey;
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30vh;
    box-shadow: 0px 0px 3px #d3d3d3;
    padding: 3% 7%;
    box-sizing: border-box;
}

header ul {
    display: none;
    list-style-type: none;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}





#m-l--d{
    
}
 

/* FOOTER */
footer {
    background-color: rgb(238, 238, 238);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}


#sec--social,#sec--copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5vh;
}

#footer--news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    width: 70%;
}


/* RESPONSIVE */

@media only screen and (min-width: 480px) {
    #navburger {
        display: none;
    }

    #navbar {
        display:flex;
        min-width: 310px;
        justify-content: space-between;

    }
     
    .face-box{
        align-items:flex-start ;

    }


@media only screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-around;
    }

    footer {
        justify-content: space-around;
    }
}

