/* IMPOSTAZIONI GENERALI */
* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html,
body {
    color: #000;
    font-family: "Fira Sans", sans-serif;
    font-size: medium;
    line-height: normal;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 200%;
    padding: 5%;
}

h2 {
    font-size: 170%;
}

h3 {
    font-size: 150%;
}

h6 {
    font-size: 0.5rem;
    line-height: 1rem;
}

p {
    font-size: 0.5rem;
    line-height: normal;
}

button {
    background: linear-gradient(to right, #6cc1e2, #392f7a);
    color: white;
    height: 35px;
}
input {
    height: 35px;
}

a:any-link {
    text-decoration: none;
    color: grey;
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80vh;
    box-shadow: 0px 0px 5px #d3d3d3;
    padding: 2%;
    box-sizing: border-box;
}
#logo {
}

header ul {
    display: none;
    list-style-type: none;
}

i {
    color: #e42424;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sec--info {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: flex-start;
    padding: 10%;

    height: 50vh;
    width: 100%;
    color: white;
}

#art--1 {
    text-align: center;
}
#motivation-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* FOOTER */
footer {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 30px;
    gap: 50px;
}

#sec--social {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer div {
    padding-block: 10px;
}

#soc--icons i {
    padding-right: 7px;
}

#footer--news {
    display: inline-block;
}

#form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

/* RESPONSIVE */

@media only screen and (min-width: 480px) {
    #navburger {
        display: none;
    }

    #navbar {
        display: inline-flex;
        justify-content: space-between;
        font-size: 0.8rem;
        flex-grow: 2;
        width: 300px;
    }

    #sec--social {
        display: flex;
        flex-direction: row;
    }
    #sec--social > div {
        flex: 1 1 0px;
    }
}
@media only screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-around;
    }

    footer {
        justify-content: space-around;
    }
}
